<%= simple_form_for([:admin, @recipe]) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>

  <div class="input">
    <div>Adjectives</div>
    <div class="recipe__adjectives">
      <%= f.simple_fields_for :adjectives do |adjective| %>
        <%= render 'adjective_fields', f: adjective %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add adjective', f, :adjectives %>
      </div>
    </div>
  </div>

  <%= f.input :meal_type_id, collection: MealType.all, include_blank: false %>
  <%= f.input :cuisine_id, collection: Cuisine.all, include_blank: false %>
  <%= f.input :caption %>
  <%= f.input :description %>

  <div class="input">
    <div>Ingredients</div>
    <div class="recipe__ingredients">
      <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add ingredient', f, :ingredients %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id if @recipe.user_id.nil? %>

  <%= f.input :method %>
  <%= f.submit %>
<% end %>
