<h1>Recipes</h1>

<%= paginate @recipes %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Caption</th>
      <th>Uploaded by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <td><%= recipe.caption %></td>
        <td><%= recipe.user.first_name %></td>
        <td><%= link_to 'Show', [:admin, recipe] %></td>
        <td><%= link_to 'Edit', edit_admin_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', [:admin, recipe], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_admin_recipe_path %>
