<% cache(@recipe) do %>
  <div class="recipe--show">
    <div class="recipe--show__info">
      This is a Vegan treat posted by <%= recipe_user(@recipe) %>. <%= recipe_good_for(@recipe) %>
    </div>
    <nav class="recipe--show__nav">
      <h1 class="recipe--show__title"><%= md @recipe.title %></h1>
      <%= content_tag(:div, md(@recipe.caption), class: 'recipe--show__caption') if @recipe.caption %>
      <%= link_to(raw('&larr;'), recipe_path(@recipe.previous), class: 'adjacent-record adjacent-record--left color--default', title: @recipe.previous.title) if @recipe.previous %>
      <%= link_to(raw('&rarr;'), recipe_path(@recipe.next), class: 'adjacent-record adjacent-record--right color--default', title: @recipe.next.title) if @recipe.next %>
      <div class="spacer"></div>
    </nav>

    <div class="recipe--show__ingredients__wrapper">
      <h4 class="recipe--show__ingredients__title">Ingredients</h4>
      <div class="recipe--show__ingredients">
        <% @recipe.ingredients.each do |ingredient| %>
          <div class="recipe--show__ingredient">
            <div class="recipe--show__ingredient__quantity">
              <%= ingredient.quantity %>
            </div>
            <div class="recipe--show__ingredient__item">
              <%= ingredient.item %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="recipe--show__procedure__wrapper">
      <h4 class="recipe--show__procedure__title">procedure</h4>
      <div class="recipe--show__procedure__items"><%= md @recipe.method %></div>
    </div>
  </div>

  <% content_for :footer_links do %>
    <%= content_tag(:div, link_to('Edit recipe', edit_admin_recipe_path)) %>
  <% end %>
<% end %>
